@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

.signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.signup-container {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin: auto;
    border: 1px solid black;
    outline: none;
    padding: 5px 20px;  
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: papayawhip;
}

form {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

label {
    font-size: 1em;
}

input:focus {
    outline: none;
}

input {
    padding: 5px 5px;
    outline: none;
    border: 1px solid black;
}

button {
    border: 1px solid black;
    padding: 3px 10px;
    outline: none;
    background-color: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.alreadyaccount {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
    .signup {
     height: 100vh;
     width: 100%;    
    }       
 
    .signup-container {
     margin-top: 70%;
     border: 1px solid black;
     outline: none;
     padding: 10px; 
     background-color: rgb(255, 214, 221);
    }
 }