<div class="signin">
 <div class="sigin-container">
  <p>Sign In</p>
  <p>Welcome Back To Acme</p>
  <form [formGroup]="formData">
    <p class="fillf">{{pleaseEnterSomething}}</p>
    <label for="For email">Enter your email:</label>
    <input
      type="email"
      placeholder="Enter your email"
      formControlName="email"
    />
    <label for="For password">Enter your password:</label>
    <input
      type="password"
      placeholder="Enter your password"
      formControlName="password"
    />
    <button (click)="signin()">SignIn</button>
  </form>
  
  <div class="dontaccount">
    <p>Don't have an account?</p>
    <a [routerLink]="['/signup']">SignUp</a>
  </div>
 </div>
</div>
