<div class="sidedrawer" [class.active]="isOpen">
  <div class="sidedrawer-container">
    <div class="angular-header">
       <h3>Drawer</h3>
    </div>
    <hr />
    <ul>
      <li><a [routerLink]="['/home']">Home</a></li>
      <hr />
      <li><a [routerLink]="['/about']">About</a></li>
      <hr />
      <li><a [routerLink]="['/services']">Services</a></li>
      <hr />
      <li><a [routerLink]="['/contact']" >Contact</a></li>
      <hr />
      <li><a [routerLink]="['/dashboard']">Dashboard</a></li>
      <hr />
    </ul>
    <div class="close">
      Close <mat-icon (click)="closeDrawer()"> cancel </mat-icon>
    </div>
    <hr />
  </div>
</div>
