<div *ngIf="!singleProduct" class="loading"> 
   <p>Loading...</p>
</div>
<div class="single-product"  *ngIf="singleProduct">
    <div [id]="[singleProduct.id]" class="single-product-container">
        <img src="{{singleProduct.image}}" alt="">
        <h3>{{singleProduct.name}}</h3>
        <p>{{singleProduct.price}}</p>
     </div>
     <div class="buttons">
        <button class="addtocart" (click)="addProduct(singleProduct)">Add to Cart</button>
        <button class="wishlist">Add To Wishlist</button>
     </div>
     <div class="product-details">
        <h2>Product Details</h2>
        <p>{{singleProduct.description}}</p>
      </div>
</div>

