<div class="cart" [class.active]="isShoppingCartOpen">
  <div class="cart-container">
    <p>Shopping Cart</p>
    <mat-icon (click)="closeShoppingCart()"> cancel </mat-icon>
  </div>

  <div class="empty-cart" *ngIf="cartProducts.length === 0">
    <img src="../../assets/empty-cart.png" alt="" height="150" width="150" />
    <button class="continue-shopping" (click)="closeShoppingCart()" [routerLink]="['/dashboard']">
      Continue Shopping
    </button>
  </div>

  <div  *ngFor="let product of cartProducts">
    <div class="cart-products">
      <img src="{{ product.image }}" alt="" height="70" width="70" />
      
      <div class="product-name-price">
        <p>{{ product.name }}</p>
        <p>{{ product.price }}</p>
      </div>
      <mat-icon (click)="removeProductFromCart(product)">cancel</mat-icon>
    </div>
    <div class="footer">
      <button class="footer-button">Checkout</button>
      <button (click)="clearthecart()" class="footer-button">Clear the cart</button>
    </div>
  </div>

</div>
