.cart {
  width: 0;
  right: 0;
  top: 0;
  height: 100%;
  position: fixed;
  background-color: white;
  color: black;
  transition: width 0.3s ease;
  overflow-y: auto;
  z-index: 1;
}

.cart.active {
  width: 70%;
}

.cart-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: papayawhip;
  font-weight: bold;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  padding: 12px;
}

.empty-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 7px;
}

.continue-shopping {
  border: 1px solid black;
  outline: none;
  font-weight: bold;
  padding: 8px 26px;
  text-transform: uppercase;
  border-radius: 25px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.08);
  background-color: white;
  color: black;
  cursor: pointer;
}

.cart-products {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 5px;  
  background-color: papayawhip;
  outline: none;
  padding: 10px 10px; 
  margin: 10px 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.footer {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  width: 70vw;
  margin-top: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.footer-button {
  border: 1px solid black;
  border-bottom: none;
  padding: 7px 0px;
  background-color: papayawhip;
  color: black;
  outline: none;
  font-size: 16px;
  text-transform: uppercase;  
}